<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Sistema de Laudos Médicos</span>
    <span class="fill-remaining-space"></span>
    <span>
        <mat-chip-list>
          <mat-chip [ngStyle]="{ backgroundColor: online ? '#b9f6ca' : '#ff8a80' }">{{ online ? 'OnLine' : 'OffLine' }}</mat-chip>
        </mat-chip-list>
      </span>
    <span class="fill-remaining-space"></span>
    <span>
      <button mat-icon-button matTooltip="Página principal" routerLink="/" routerDirection='root'>
        <i class="material-icons">home</i>
      </button>
      <button mat-button [matMenuTriggerFor]="menu">Novo Laudo</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/histeroscopia" routerDirection='root'>Histeroscopia</button>
        <button mat-menu-item routerLink="/laparoscopia">Laparoscopia</button>
      </mat-menu>
      <button mat-button>Sair</button>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
