<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>
      <div class="toolbar-title">Sistema de Laudos Médicos</div>
      <div class="toolbar-subtitle">{{ this.empresa.nome }}</div>
    </span>
    <span class="fill-remaining-space"></span>
    <span class="centralized-title-elements">
      
      <span *ngIf="this.sistema.cloud.enabled && user.name">
        <ngx-avatar
            [src]="avatar"
            [name]="user.name"
            [style]="customStyle"></ngx-avatar> {{user.name}}
      </span>
      <button mat-button matTooltip="Fazer Login" routerLink="/login" routerDirection='root' *ngIf="this.sistema.cloud.enabled && !user.name">
        <i class="material-icons">login</i> Fazer login
      </button>
    </span>
    <span>
      <button mat-icon-button matTooltip="Página principal" routerLink="/" routerDirection='root'>
        <i class="material-icons">home</i>
      </button>

      <button mat-button (click)="btnExit()">Sair</button>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
