<div class="laudos">
  <mat-toolbar>
    <span>Laudos neste computador</span>
    <span class="example-fill-remaining-space"></span>
    <span>
      <input type="search" class="googleSearch mat-elevation-z2" (keyup)="doFilter($event.target.value)" placeholder="Pesquise no seu computador">
    </span>
    <span class="example-fill-remaining-space"></span>
    <span>
      <button mat-flat-button [matMenuTriggerFor]="menu" color="primary">Novo Laudo</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/histeroscopia" routerDirection='root'>Histeroscopia</button>
        <button mat-menu-item routerLink="/laparoscopia" routerDirection='root'>Laparoscopia</button>
      </mat-menu>
      <button mat-flat-button matTooltip="Atualizar a lista de laudos" (click)="getAllLaudos()">
        <i class="material-icons">refresh</i>
      </button>
    </span>
  </mat-toolbar>
  <mat-table #table class="laudos-table mat-elevation-z8" [dataSource]="dataSource" matSort>
    
    <!-- Id Column -->
    <ng-container matColumnDef="filename">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Arquivo</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.filename}}</mat-cell>
      </ng-container>

    <!-- Id Column -->
    <ng-container matColumnDef="nome">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Nome do Paciente</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.nome}}</mat-cell>
    </ng-container>
    
    <!-- Name Column -->
    <ng-container matColumnDef="tipo">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Tipo do Exame</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.tipo}}</mat-cell>
    </ng-container>
    
    <!-- Amount Column -->
    <ng-container matColumnDef="data_exame">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Data do Exame</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.data_exame}}</mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-icon class="mat-18" [color]="getLocalStatusIcon(element.status).color" [matTooltip]="getLocalStatusIcon(element.status).tip">{{getLocalStatusIcon(element.status).icon}}</mat-icon>
        <mat-icon class="mat-18" [color]="getRemoteStatusIcon(element.status).color" [hidden]="!this.sistema.cloud.enabled" [matTooltip]="getRemoteStatusIcon(element.status).tip">{{getRemoteStatusIcon(element.status).icon}}</mat-icon>
      </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>Ações</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" matTooltip="Editar" (click)="editLaudo(element.filename, element.tipo)">
          <mat-icon class="mat-18">edit</mat-icon>
        </button>
        
        <button mat-icon-button matTooltip="Enviar manualmente" color="primary" [hidden]="!this.sistema.cloud.enabled" (click)="sendLaudo(element.filename)">
          <mat-icon class="mat-18">cloud_upload</mat-icon>
        </button>
        
        <button mat-icon-button matTooltip="Apagar deste computador" color="warn" (click)="deleteLaudo(element.filename)">
          <mat-icon class="mat-18">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  
  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 50]"></mat-paginator>
</div>