<div class="laudos">
  <mat-toolbar>
    <span>Laudos na núvem</span>
    <span class="example-fill-remaining-space"></span>
    <span>
      <input type="search" class="googleSearch mat-elevation-z2" (keyup)="doFilter($event.target.value)" placeholder="Pesquise na núvem">
    </span>
    <span class="example-fill-remaining-space"></span>
    <span>
      <button mat-stroked-button matTooltip="Sincronizar agora" (click)="syncAllNow()">
        <i class="material-icons">sync</i>
      </button>
      <button mat-stroked-button matTooltip="Atualizar a lista de laudos" (click)="getAllLaudos()">
        <i class="material-icons">refresh</i>
      </button>
    </span>
  </mat-toolbar>
  
  <mat-table #table class="laudos-table mat-elevation-z8" [dataSource]="dataSource" matSort>
    
    <!-- Id Column -->
    <ng-container matColumnDef="_id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row._id}}</mat-cell>
    </ng-container>
    
    <!-- Nome Column -->
    <ng-container matColumnDef="nome">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Nome do Paciente</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.nome}}</mat-cell>
    </ng-container>
    
    <!-- Tipo Column -->
    <ng-container matColumnDef="tipo">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Tipo do Exame</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.tipo}}</mat-cell>
    </ng-container>
    
    <!-- Tipo Column -->
    <ng-container matColumnDef="data_exame">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Data do Exame</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.data_exame}}</mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>Ações</mat-header-cell>
      <mat-cell *matCellDef="let element">
        
        <button mat-icon-button color="primary" (click)="downloadLaudo(element._id)">
          <mat-icon class="mat-18">cloud_download</mat-icon>
        </button>
        
        <button mat-icon-button color="warn" (click)="deleteLaudo(element._id)">
          <mat-icon class="mat-18">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  
  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 50]"></mat-paginator>
  
</div>