<div class="laudos">
  <mat-toolbar>
    <span>Configurações</span>
    <span class="empty-space"></span>
    <span>
      <button mat-flat-button color="accent" matTooltip="Salvar configurações" (click)="saveConfig()">
        <i class="material-icons">save</i> Salvar
      </button>
    </span>
  </mat-toolbar>
  <div class="paper">
    
    <mat-card class="laudo-card">
      <mat-card-header>
        <mat-card-title>Empresa</mat-card-title>
        <mat-card-subtitle>Definições da empresa (Nome, Endereço, Telefone, E-mail e Website)</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <ol>
          <li class="mat-form-field--inline">
            <mat-form-field [ngStyle]="{width: '100%'} ">
              <input matInput [(ngModel)]="this.config.empresa.nome" placeholder="Nome da Empresa">
            </mat-form-field>
          </li>
          <li class="mat-form-field--inline">
            <mat-form-field [ngStyle]="{width: '50%'}">
              <input matInput [(ngModel)]="this.config.empresa.endereco.logradouro" placeholder="Endereço">
            </mat-form-field>
            <mat-form-field [ngStyle]="{width: '10%'}">
              <input matInput [(ngModel)]="this.config.empresa.endereco.numero" placeholder="Número">
            </mat-form-field>
            <mat-form-field [ngStyle]="{width: '40%'}">
              <input matInput [(ngModel)]="this.config.empresa.endereco.complemento" placeholder="Complemento">
            </mat-form-field>
          </li>
          <li class="mat-form-field--inline">
            <mat-form-field [ngStyle]="{width: '35%'}">
              <input matInput [(ngModel)]="this.config.empresa.endereco.bairro" placeholder="Bairro">
            </mat-form-field>
            <mat-form-field [ngStyle]="{width: '35%'}">
              <input matInput [(ngModel)]="this.config.empresa.endereco.cidade" placeholder="Cidade">
            </mat-form-field>
            <mat-form-field [ngStyle]="{width: '10%'}">
              <mat-label>UF</mat-label>
              <mat-select [(ngModel)]="this.config.empresa.endereco.uf">
                <mat-option *ngFor="let uf of estados" [value]="uf.sigla">
                  {{uf.sigla}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field [ngStyle]="{width: '20%'}">
              <input matInput [(ngModel)]="this.config.empresa.endereco.cep" placeholder="CEP">
            </mat-form-field>
          </li>
          <li class="mat-form-field--inline">
            <mat-form-field [ngStyle]="{width: '50%'}">
              <input matInput [(ngModel)]="this.config.empresa.email" placeholder="E-mail">
            </mat-form-field>
            <mat-form-field [ngStyle]="{width: '50%'}">
              <input matInput [(ngModel)]="this.config.empresa.website" placeholder="Website">
            </mat-form-field>
          </li>
          <li class="mat-form-field--inline">
            <p>Telefones: 
              <button mat-icon-button color="primary" matTooltip="Adicionar um novo item." (click)="adicionarTelefone()">
                <mat-icon>add_circle_outline</mat-icon>
              </button>
            </p>
            <ol>
              <li class="mat-form-field--inline" *ngFor="let desc of this.telefones; let i = index">
                <mat-card [ngStyle]="{width: '100%'}">
                  <button mat-icon-button color="primary" matTooltip="Editar item" (click)="editarTelefone(i)">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button mat-icon-button color="warn" matTooltip="Excluir item" (click)="excluirTelefone(i)">
                    <mat-icon>remove_circle_outline</mat-icon>
                  </button>
                  {{desc}}
                </mat-card>
              </li>
            </ol>
          </li>
        </ol>
      </mat-card-content>
    </mat-card>
    
    <mat-card class="laudo-card">
      <mat-card-header>
        <mat-card-title>Autocompletar 
          <button mat-icon-button color="primary" matTooltip="Adicionar um novo item." (click)="adicionarAutocompletar()">
            <mat-icon>add_circle_outline</mat-icon>
          </button>
        </mat-card-title>
        <mat-card-subtitle>Valores pré-definidos para os campos de autocompletar</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <ol>
          <li class="mat-form-field--inline" *ngFor="let desc of this.autocompletar; let i = index">
            <mat-card [ngStyle]="{width: '100%'}">
              <button mat-icon-button color="primary" matTooltip="Editar item" (click)="editarAutocompletar(i)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" matTooltip="Excluir item" (click)="excluirAutocompletar(i)">
                <mat-icon>remove_circle_outline</mat-icon>
              </button>
              {{desc}}
            </mat-card>
          </li>
        </ol>
      </mat-card-content>
    </mat-card>
    
    <mat-card class="laudo-card">
      <mat-card-header>
        <mat-card-title>Armazenamento</mat-card-title>
        <mat-card-subtitle>Configurações de formato e diretório onde os arquivos de laudos serão gravados</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <ol>
          <li class="mat-form-field--inline">
            <mat-form-field [ngStyle]="{width: '75%'} ">
              <input [(ngModel)]="this.config.sistema.datastore.path" matInput placeholder="Caminho completo">
            </mat-form-field>
            <mat-form-field [ngStyle]="{width: '25%'} ">
              <mat-label>Formato</mat-label>
              <mat-select [(ngModel)]="this.config.sistema.datastore.format">
                <mat-option value="json">JSON</mat-option>
                <mat-option value="xml">XML</mat-option>
                <mat-option value="yaml">YAML</mat-option>
              </mat-select>
            </mat-form-field>
          </li>
        </ol>
      </mat-card-content>
    </mat-card>
    
    <mat-card class="laudo-card">
      <mat-card-header>
        <mat-card-title>Cloud</mat-card-title>
        <mat-card-subtitle>Integração e sincronização com banco de dados de laudos na cloud</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <ol>
          <li class="mat-form-field--inline">
            <div style="width: 50%">
              <mat-slide-toggle [(ngModel)]="this.config.sistema.cloud.enabled">Habilitar integração Cloud!</mat-slide-toggle>
            </div>
            <div style="width: 50%">
              <mat-slide-toggle [(ngModel)]="this.config.sistema.cloud.autoSync">Habilitar sincronismo automático</mat-slide-toggle>
            </div>
          </li>
          <li class="mat-form-field--inline">
            <mat-form-field [ngStyle]="{width: '100%'} ">
              <input matInput [(ngModel)]="this.config.sistema.cloud.apiUrl" placeholder="URL do servidor na núvem">
            </mat-form-field>
          </li>
          <li class="mat-form-field--inline">
            <mat-form-field [ngStyle]="{width: '100%'} ">
              <input matInput [(ngModel)]="this.config.sistema.cloud.apiKey" placeholder="Chave de API para sincronização remota">
            </mat-form-field>
          </li>
        </ol>
      </mat-card-content>
    </mat-card>
    
    <mat-card class="laudo-card">
      <mat-card-header>
        <mat-card-title>Modelos de laudos</mat-card-title>
        <mat-card-subtitle>Editar os modelos de laudos compatíveis com o sistema</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
          <ol>
              <li class="mat-form-field--inline">
                <mat-card [ngStyle]="{width: '100%'}">
                  <button mat-icon-button color="primary" matTooltip="Editar item" routerLink="/modelos/histeroscopia" routerDirection='root'>
                    <mat-icon>edit</mat-icon>
                  </button>
                  Laudo de Histeroscopia
                </mat-card>
              </li>
              <li class="mat-form-field--inline">
                  <mat-card [ngStyle]="{width: '100%'}">
                    <button mat-icon-button color="primary" matTooltip="Editar item" routerLink="/modelos/laparoscopia" routerDirection='root'>
                      <mat-icon>edit</mat-icon>
                    </button>
                    Laudo de Videolaparoscopia
                  </mat-card>
                </li>
            </ol>
      </mat-card-content>
    </mat-card>
  </div>
</div>