<div class="laudos">
  <mat-toolbar>
    <span>Laudo de Histeroscopia</span>
    <span class="empty-space"></span>
    <span>
      <button mat-raised-button matTooltip="Salvar" color="primary" (click)="onSubmit()">
        <i class="material-icons">save</i> Salvar
      </button>
    </span>
    <span>
      <button [hidden]="this.laudo.status == 'new'" mat-raised-button matTooltip="Imprimir" color="default" (click)="print()">
        <i class="material-icons">print</i> Imprimir
      </button>
    </span>
  </mat-toolbar>
  <div class="paper">
    <mat-card class="laudo-card">
      <mat-card-header>
        <mat-card-title>Paciente</mat-card-title>
        <mat-card-subtitle>Dados do Paciente</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          <mat-form-field class="full-width">
            <input matInput [(ngModel)]="laudo.paciente.nome" placeholder="Nome do paciente">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <input type="number" matInput [(ngModel)]="laudo.paciente.idade" placeholder="Idade">
          </mat-form-field>
          &nbsp;
          <mat-form-field>
            <input matInput [(ngModel)]="laudo.paciente.data_exame" (dateInput)="addEvent('data_exame', $event)" (dateChange)="addEvent('data_exame', $event)" [matDatepicker]="data_exame" (click)="data_exame.open()" placeholder="Data do Exame">
            <mat-datepicker-toggle matSuffix [for]="data_exame"></mat-datepicker-toggle>
            <mat-datepicker #data_exame></mat-datepicker>
          </mat-form-field>
          &nbsp;
          <mat-form-field [hidden]="(this.laudo.paciente.amenorreia || this.laudo.paciente.menopausa)" >
            <input matInput [disabled]="(this.laudo.paciente.amenorreia || this.laudo.paciente.menopausa)" [(ngModel)]="laudo.paciente.data_ultima_menstruacao" (dateInput)="addEvent('data_ultima_menstruacao', $event)" (dateChange)="addEvent('data_ultima_menstruacao', $event)" [matDatepicker]="data_ultima_menstruacao" (click)="data_ultima_menstruacao.open()" placeholder="DUM (Data da Última Menstruação)">
            <mat-datepicker-toggle matSuffix [for]="data_ultima_menstruacao"></mat-datepicker-toggle>
            <mat-datepicker #data_ultima_menstruacao></mat-datepicker>
          </mat-form-field>
          &nbsp;
          <ion-chip [hidden]="(this.laudo.paciente.amenorreia || this.laudo.paciente.menopausa)" color="danger">
            <ion-badge color="danger">{{ this.laudo.paciente.dia_do_ciclo }}</ion-badge>
            <ion-label>&nbsp;Dia do Ciclo</ion-label>
          </ion-chip>
          &nbsp;
          <mat-button-toggle-group multiple (change)="toggleChange($event)" name="fontStyle" aria-label="Font Style" [ngModel]="toggleMenopausaAmenorreia">
            <mat-button-toggle value="Menopausa">Menopausa</mat-button-toggle>
            <mat-button-toggle value="Amenorréia">Amenorréia</mat-button-toggle>
          </mat-button-toggle-group>
        </p>
        <p>
          <mat-form-field class="full-width">
            <input matInput [(ngModel)]="laudo.paciente.hormonio" placeholder="Anticoncepcional / Hormônio">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="full-width">
            <input matInput [(ngModel)]="laudo.paciente.indicacao" placeholder="Indicação">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="full-width">
            <input matInput [(ngModel)]="laudo.paciente.medico_assistente" placeholder="Médico Assistente">
          </mat-form-field>
        </p>
      </mat-card-content>
    </mat-card>
    
    <div ngxFileDropzone [readMode]="readMode" (fileDrop)="addFile($event)">
      <mat-card class="laudo-card">
        <mat-card-header>
          <mat-card-title>Imagens</mat-card-title>
          <mat-card-subtitle>Arraste as imagens do exâme para cá.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          
          <mat-grid-list cols="4" rowHeight="2:1">
            <mat-grid-tile *ngFor="let file of files">
              <img src="{{ file.content }}">
              <mat-grid-tile-footer [ngStyle]="{backgroundColor: '#FFF', color: '#000', opacity: 0.9 }">
                <button mat-icon-button matTooltip="Apagar" color="warn" (click)="apagarImagem(file.name)">
                  <i class="material-icons">delete</i>
                </button>
                <button mat-icon-button matTooltip="Editar" color="warn" (click)="editarDescricao(file.name)">
                  <i class="material-icons">edit</i>
                </button>
                <span class="empty-space"></span>
                {{file.descricao}}
              </mat-grid-tile-footer>
            </mat-grid-tile>
          </mat-grid-list>
        </mat-card-content>
      </mat-card>
    </div>
    <mat-card class="laudo-card">
      <mat-card-header>
        <mat-card-title>Laudo</mat-card-title>
        <mat-card-subtitle>Dados do laudo</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        
        <p>
          <mat-form-field class="full-width">
            <textarea matInput [(ngModel)]="laudo.laudo.dados_tecnicos" placeholder="Dados técnicos"></textarea>
          </mat-form-field>
        </p>
        
        <p>
          <mat-form-field class="full-width">
            <textarea matInput [(ngModel)]="laudo.laudo.canal_endocervical" placeholder="Canal endocervical"></textarea>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="full-width">
            <textarea matInput [(ngModel)]="laudo.laudo.cavidade_uterina" placeholder="Cavidade Uterina"></textarea>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="full-width">
            <textarea matInput [(ngModel)]="laudo.laudo.istmo" placeholder="Istmo"></textarea>
          </mat-form-field>
        </p>
        <p>Endométrio</p>
        <p>
          <mat-form-field>
            <mat-label>Cor</mat-label>
            <mat-select [(ngModel)]="laudo.laudo.endometrio.cor" required>
              <mat-option value="Normal">Normal</mat-option>
              <mat-option value="Avermelhado">Avermelhado</mat-option>
              <mat-option value="Pálido">Pálido</mat-option>
              <mat-option value="Não Avaliado">Não Avaliado</mat-option>
            </mat-select>
          </mat-form-field>
          &nbsp;
          <mat-form-field>
            <mat-label>Espessura</mat-label>
            <mat-select [(ngModel)]="laudo.laudo.endometrio.espessura" required>
              <mat-option value="Normal">Normal</mat-option>
              <mat-option value="Aumentada">Aumentada</mat-option>
              <mat-option value="Diminuída">Diminuída</mat-option>
              <mat-option value="Atrófica">Atrófica</mat-option>
              <mat-option value="Não Avaliado">Não Avaliado</mat-option>
            </mat-select>
          </mat-form-field>
          &nbsp;
          <mat-form-field>
            <mat-label>Vascularização</mat-label>
            <mat-select [(ngModel)]="laudo.laudo.endometrio.vascularizacao" required>
              <mat-option value="Normal">Normal</mat-option>
              <mat-option value="Aumentada">Aumentada</mat-option>
              <mat-option value="Atípica">Atípica</mat-option>
              <mat-option value="Não Avaliado">Não Avaliado</mat-option>
            </mat-select>
          </mat-form-field>
          &nbsp;
          <mat-form-field>
            <mat-label>Superfície</mat-label>
            <mat-select [(ngModel)]="laudo.laudo.endometrio.superficie" required>
              <mat-option value="Regular">Regular</mat-option>
              <mat-option value="Irregular">Irregular</mat-option>
              <mat-option value="Não Avaliado">Não Avaliado</mat-option>
            </mat-select>
          </mat-form-field>
          &nbsp;
          <mat-form-field>
            <mat-label>Friabilidade</mat-label>
            <mat-select [(ngModel)]="laudo.laudo.endometrio.friabilidade" required>
              <mat-option value="Normal">Normal</mat-option>
              <mat-option value="Aumentada">Aumentada</mat-option>
              <mat-option value="Diminuída">Diminuída</mat-option>
              <mat-option value="Não Avaliado">Não Avaliado</mat-option>
            </mat-select>
          </mat-form-field>
          &nbsp;
          <mat-form-field>
            <mat-label>Sangramento de contato</mat-label>
            <mat-select [(ngModel)]="laudo.laudo.endometrio.sangramento_contato" required>
              <mat-option value="Ausente">Ausente</mat-option>
              <mat-option value="Exígua">Exígua</mat-option>
              <mat-option value="Moderado">Moderado</mat-option>
              <mat-option value="Intenso">Intenso</mat-option>
              <mat-option value="Não Avaliado">Não Avaliado</mat-option>
            </mat-select>
          </mat-form-field>
        </p>
        <p>Óstios tubários</p>
        <p>
          <mat-form-field>
            <mat-label>Direito</mat-label>
            <mat-select [(ngModel)]="laudo.laudo.ostios_tubarios.direito" required>
              <mat-option value="Visíveis e reativos">Visíveis e reativos</mat-option>
              <mat-option value="Visíveis e estáticos">Visíveis e estáticos</mat-option>
              <mat-option value="Não visualizados">Não visualizados</mat-option>
              <mat-option value="Não Avaliado">Não Avaliado</mat-option>
            </mat-select>
          </mat-form-field>
          &nbsp;
          <mat-form-field>
            <mat-label>Esquerdo</mat-label>
            <mat-select [(ngModel)]="laudo.laudo.ostios_tubarios.esquerdo" required>
              <mat-option value="Visíveis e reativos">Visíveis e reativos</mat-option>
              <mat-option value="Visíveis e estáticos">Visíveis e estáticos</mat-option>
              <mat-option value="Não visualizados">Não visualizados</mat-option>
              <mat-option value="Não Avaliado">Não Avaliado</mat-option>
            </mat-select>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="full-width">
            <textarea matInput [(ngModel)]="laudo.laudo.lesoes_focais" placeholder="Lesões Focais"></textarea>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="full-width">
            <textarea matInput [(ngModel)]="laudo.laudo.biopsia" placeholder="Biópsia"></textarea>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="full-width">
            <textarea matInput [(ngModel)]="laudo.laudo.procedimento_realizado" placeholder="Procedimento realizado"></textarea>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="full-width">
            <textarea matInput [(ngModel)]="laudo.laudo.observacoes" placeholder="Observações"></textarea>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="full-width">
            <textarea matInput [(ngModel)]="laudo.laudo.impressao_diagnostica" placeholder="Impressão diagnóstica"></textarea>
          </mat-form-field>
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>